body,
div {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  background: #55acee;
  font: 24px/1.6 "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section {
  display: block;
}

h1 {
  font-weight: bold;
  font-size: 120px;
}

ul {
  list-style: none;
}

.wrapper {
  display: none;
}

/* Animation Starting Frames */
#intro {
  position: fixed;
  top: 10%;
  left: 10%;
  width: 80%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

#tree {
  position: fixed;
  top: 100%;
  width: 100%;
  height: 100;
}

.tree-list {
  position: fixed;
  left: 45%;
  right: auto;
  top: 80%;
  opacity: 0;
}

.node {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 100%;
}

#node-0 {
  top: 0;
  left: 0;
  background: url("node-0.png");
  background-size: 100%;
}

#node-1 {
  top: 120px;
  left: -300px;
  background: url("node-1.png");
  background-size: 100%;
}

#node-2 {
  top: 120px;
  left: 300px;
  background-color: #fff;
}

#node-3 {
  top: 240px;
  left: -450px;
  background-color: #fff;
}

#node-4 {
  top: 240px;
  left: -150px;
  background-color: #fff;
}

#node-5 {
  top: 240px;
  left: 175px;
  background-color: #fff;
}

#node-6 {
  top: 240px;
  left: 450px;
  background-color: #fff;
}

#node-7 {
  width: 60px;
  height: 60px;
  top: 360px;
  left: -550px;
  background-color: #fff;
}

#node-8 {
  width: 60px;
  height: 60px;
  top: 360px;
  left: -375px;
  background-color: #fff;
}

#node-9 {
  width: 60px;
  height: 60px;
  top: 360px;
  left: -200px;
  background-color: #fff;
}

#node-10 {
  width: 60px;
  height: 60px;
  top: 360px;
  left: -50px;
  background-color: #fff;
}

#node-11 {
  width: 60px;
  height: 60px;
  top: 360px;
  left: 100px;
  background-color: #fff;
}

#node-12 {
  width: 60px;
  height: 60px;
  top: 360px;
  left: 275px;
  background-color: #fff;
}

#node-13 {
  width: 60px;
  height: 60px;
  top: 360px;
  left: 400px;
  background-color: #fff;
}

#node-14 {
  width: 60px;
  height: 60px;
  top: 360px;
  left: 550px;
  background-color: #fff;
}

#node-15 {
  width: 40px;
  height: 40px;
  top: 480px;
  left: -580px;
  background-color: #fff;
}

#node-16 {
  width: 40px;
  height: 40px;
  top: 480px;
  left: -500px;
  background-color: #fff;
}

#node-17 {
  width: 40px;
  height: 40px;
  top: 480px;
  left: -420px;
  background-color: #fff;
}

#node-18 {
  width: 40px;
  height: 40px;
  top: 480px;
  left: -320px;
  background-color: #fff;
}

#node-19 {
  width: 40px;
  height: 40px;
  top: 480px;
  left: -240px;
  background-color: #fff;
}

#node-20 {
  width: 40px;
  height: 40px;
  top: 480px;
  left: -160px;
  background-color: #fff;
}

#node-21 {
  width: 40px;
  height: 40px;
  top: 480px;
  left: -80px;
  background-color: #fff;
}

#node-22 {
  width: 40px;
  height: 40px;
  top: 480px;
  left: 0px;
  background-color: #fff;
}

#node-23 {
  width: 40px;
  height: 40px;
  top: 480px;
  left: 70px;
  background-color: #fff;
}

#node-24 {
  width: 40px;
  height: 40px;
  top: 480px;
  left: 150px;
  background-color: #fff;
}

#node-25 {
  width: 40px;
  height: 40px;
  top: 480px;
  left: 230px;
  background-color: #fff;
}

#node-26 {
  width: 40px;
  height: 40px;
  top: 480px;
  left: 310px;
  background-color: #fff;
}

#node-27 {
  width: 40px;
  height: 40px;
  top: 480px;
  left: 375px;
  background-color: #fff;
}

#node-28 {
  width: 40px;
  height: 40px;
  top: 480px;
  left: 450px;
  background-color: #fff;
}

#node-29 {
  width: 40px;
  height: 40px;
  top: 480px;
  left: 520px;
  background-color: #fff;
}

#node-30 {
  width: 40px;
  height: 40px;
  top: 480px;
  left: 600px;
  background-color: #fff;
}

.title {
  position: fixed;
  top: 55%;
  width: 100%;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
}

#name {
  font-size: 120px;
  letter-spacing: 12px;
  line-height: 1.5;
  font-weight: bold;
}
